/******************************************************************************
 *	File : style.css                                                          *
 *  Domain : www.antoinefonfria.com                                           *
 *  Author : Antoine Fonfria                                                  *
 ******************************************************************************/

/*************** GENERAL ***************/

.clickable:hover{
	cursor:pointer;
}

.bold{
	font-weight: bold;
}

/*************** PAGE STRUCTURE ***************/

body{
	margin:0;
	overflow:hidden;
	height:100%;
	background-position:center center;
	background-image:url(img/milkyway_paint.jpg);
	background-color:black;
	font-family: 'PT Sans', sans-serif;
}

#background{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	color:white;
	font-size:30em;
}

#copyright{
	position:absolute;
	bottom:5px;
	width:99%;
	text-align:right;
	font:0.7em Arial;
	color:#aaa;
}
#copyright a{
	color: #aaa;
}
#copyright img{
	vertical-align: middle;
}


/******************* ISLANDS *******************/

/* Animations S, M, L */
@keyframes floatingS{
	from { transform: translateY(0); }
	to { transform: translateY(1em); }
}
	@-o-keyframes floatingS{
		from { -o-transform: translateY(0); }
		to { -o-transform: translateY(1em); }
	}
		@-webkit-keyframes floatingS{
			from { -moz-transform: translateY(0); }
			to { -moz-transform: translateY(1em); }
		}
			@-webkit-keyframes floatingS{
				from { -webkit-transform: translateY(0); }
				to { -webkit-transform: translateY(1em); }
			}
@keyframes floatingM{
	from { transform: translateY(0); }
	to { transform: translateY(2em); }
}
	@-o-keyframes floatingM{
		from { -o-transform: translateY(0); }
		to { -o-transform: translateY(2em); }
	}
		@-moz-keyframes floatingM{
			from { -moz-transform: translateY(0); }
			to { -moz-transform: translateY(2em); }
		}
			@-webkit-keyframes floatingM{
				from { -webkit-transform: translateY(0); }
				to { -webkit-transform: translateY(2em); }
			}
@keyframes floatingL{
	from { transform: translateY(0); }
	to { transform: translateY(3em); }
}
	@-o-keyframes floatingL{
		from { -o-transform: translateY(0); }
		to { -o-transform: translateY(3em); }
	}
		@-moz-keyframes floatingL{
			from { -moz-transform: translateY(0); }
			to { -moz-transform: translateY(3em); }
		}
			@-webkit-keyframes floatingL{
				from { -webkit-transform: translateY(0); }
				to { -webkit-transform: translateY(3em); }
			}

/* Anchor */
.anchor{
	position:absolute;
	width:1px;
	height:1px;
	overflow:display;
	z-index:50;
	/* On launch position */
	top:50%;
	left:50%;
}
.anchor.islandL{
	z-index: 51;
}

/* Tooltip */
.tooltip{
	position:absolute;
	top:0;
	opacity: 0;
	color: white;
	padding: 2px 10px;
	background: url('img/panelbg.png');
	border: 1px solid #333;
	box-shadow: 0 0 0 1px #40d6fb, 0px 0 0 2px black,  0px 0 3px 0 #40d6fb;
		-moz-box-shadow: 0 0 0 1px #40d6fb, 0px 0 0 2px black,  0px 0 3px 0 #40d6fb;
			-webkit-box-shadow: 0 0 0 1px #40d6fb, 0px 0 0 2px black,  0px 0 3px 0 #40d6fb;
	border-radius: 3px;
		-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
	white-space: nowrap;

	transition: top .5s ease-out, opacity .5s linear;
		-o-transition: top .5s ease-out, opacity .5s linear;
			-moz-transition: top .5s ease-out, opacity .5s linear;
				-webkit-transition: top .5s ease-out, opacity .5s linear;
}
.tltpAnc.islandS.clickable:hover .tooltip{
	top:-120px;
	opacity: 1;
}
.tltpAnc.islandM.clickable:hover .tooltip{
	top:-150px;
	opacity: 1;
}
.tltpAnc#contact_anchor:hover .tooltip{
	top:30px;
	opacity: 1;
}

/* Islands S, M, L */
.island{
	position:absolute;
	background-position:0 0;
	background-repeat: no-repeat;
}
.islandS .island{
	left:-125px;
	top:-110px;
	width:250px;
	height:250px;

	animation: floatingS 4s ease-in-out alternate infinite;
		-o-animation: floatingS 4s ease-in-out alternate infinite;
			-moz-animation: floatingS 4s ease-in-out alternate infinite;
				-webkit-animation: floatingS 4s ease-in-out alternate infinite;
}
.islandM .island{
	left:-150px;
	top:-150px;
	width:300px;
	height:300px;

	animation: floatingM 4s ease-in-out alternate infinite;
		-o-animation: floatingM 4s ease-in-out alternate infinite;
			-moz-animation: floatingM 4s ease-in-out alternate infinite;
				-webkit-animation: floatingM 4s ease-in-out alternate infinite;
}
.islandL .island{
	left:-250px;
	top:-250px;
	width:500px;
	height:500px;

	animation: floatingL 4s ease-in-out alternate infinite;
		-o-animation: floatingL 4s ease-in-out alternate infinite;
			-moz-animation: floatingL 4s ease-in-out alternate infinite;
				-webkit-animation: floatingL 4s ease-in-out alternate infinite;
}

/* Fragments S, M, L */
.fragments{
	position:absolute;
	background-position:0 0;
	background-repeat: no-repeat;
}
.islandS .fragments{
	left:-125px;
	top:-110px;
	width:250px;
	height:250px;
	background-image:url(img/fragmentsS.png);

	animation: floatingM 4s ease-in-out alternate infinite;
	animation-delay: 0.8s;
		-o-animation: floatingM 4s ease-in-out alternate infinite;
		-o-animation-delay: 0.8s;
			-moz-animation: floatingM 4s ease-in-out alternate infinite;
			-moz-animation-delay: 0.8s;
				-webkit-animation: floatingM 4s ease-in-out alternate infinite;
				-webkit-animation-delay: 0.8s;
}
.islandM .fragments{
	left:-150px;
	top:-150px;
	width:300px;
	height:300px;
	background-image:url(img/fragmentsM.png);

	animation: floatingM 4s ease-in-out alternate infinite;
	animation-delay: 0.8s;
		-o-animation: floatingM 4s ease-in-out alternate infinite;
		-o-animation-delay: 0.8s;
			-moz-animation: floatingM 4s ease-in-out alternate infinite;
			-moz-animation-delay: 0.8s;
				-webkit-animation: floatingM 4s ease-in-out alternate infinite;
				-webkit-animation-delay: 0.8s;
}
.islandL .fragments{
	left:-250px;
	top:-250px;
	width:500px;
	height:500px;
	background-image:url(img/fragmentsL.png);
	animation: floatingM 4s ease-in-out alternate infinite;
	animation-delay: 0.8s;
		-o-animation: floatingM 4s ease-in-out alternate infinite;
		-o-animation-delay: 0.8s;
			-moz-animation: floatingM 4s ease-in-out alternate infinite;
			-moz-animation-delay: 0.8s;
				-webkit-animation: floatingM 4s ease-in-out alternate infinite;
				-webkit-animation-delay: 0.8s;
}

/* Islands Hover : Background */
.anchor.islandS.clickable:hover .island{
	background-position:-250px 0;
}
.anchor.islandM.clickable:hover .island{
	background-position:-300px 0;
}
.anchor.islandL.clickable:hover .island{
	background-position:-500px 0;
}

/* Islands images */
.island#character{
	background-image:url(img/island_character_sprite.png);
}
.island#school{
	background-image:url(img/island_school_sprite.png);
}
.island#internships{
	background-image:url(img/island_internships_sprite.png);
}
.island#elldabox{
	background-image:url(img/island_elldabox_sprite.png);
}
.island#leadprojects{
	background-image:url(img/island_leadprojects_sprite.png);
	background-repeat:repeat;
}
.island#biprojects{
	background-image:url(img/island_biprojects_sprite.png);
}

/* Contact */
@keyframes floatingSmallObject{
	from { transform: translateY(0); }
	to { transform: translateY(0.5em); }
}
	@-o-keyframes floatingSmallObject{
		from { -o-transform: translateY(0); }
		to { -o-transform: translateY(0.5em); }
	}
		@-moz-keyframes floatingSmallObject{
			from { -moz-transform: translateY(0); }
			to { -moz-transform: translateY(0.5em); }
		}
			@-webkit-keyframes floatingSmallObject{
				from { -webkit-transform: translateY(0); }
				to { -webkit-transform: translateY(0.5em); }
			}

#contact_anchor{
	position:absolute;
	top:30px;
	right:35px;
	width:1px;
	height:1px;
	overflow:display;
	z-index:100;
}
#contact{
	position: absolute;
	left: -25px;
	top:-20px;
	width:50px;
	height: 40px;
	background-position:0 0;
	background-repeat: no-repeat;
	background-image:url(img/letter_sprite.png);

	animation: floatingSmallObject 2s ease-in-out alternate infinite;
	animation-delay: 0.2s;
		-o-animation: floatingSmallObject 2s ease-in-out alternate infinite;
		-o-animation-delay: 0.2s;
			-moz-animation: floatingSmallObject 2s ease-in-out alternate infinite;
			-moz-animation-delay: 0.2s;
				-webkit-animation: floatingSmallObject 2s ease-in-out alternate infinite;
				-webkit-animation-delay: 0.2s;
}
#contact_anchor:hover #contact{
	background-position:-50px 0;
	cursor: pointer;
}

/******************* INFORMATIONS PANEL *******************/

@keyframes slideBG{
	from { background-position: 0 -100px}
	to {background-position: 0 2000px}
}
	@-o-keyframes slideBG{
		from { background-position: 0 -100px}
		to {background-position: 0 2000px}
	}
		@-moz-keyframes slideBG{
			from { background-position: 0 -100px}
			to {background-position: 0 2000px}
		}
			@-webkit-keyframes slideBG{
				from { background-position: 0 -100px}
				to {background-position: 0 2000px}
			}

#panel{
	position: absolute;
	opacity: 0;
	overflow: visible !important;
	background-image: url('img/screen-slidinglines.png');
	background-repeat: repeat-x;
	top: 49%;
	left: 49%;
	width: 2%;
	height: 2%;
	animation: slideBG 15s linear infinite;
		-o-animation: slideBG 15s linear infinite;
			-moz-animation: slideBG 15s linear infinite;
				-webkit-animation: slideBG 15s linear infinite;
}
#panel_BG{
	width: 100%;
	height: 100%;
	background: url('img/panelbg.png');
	border: 1px solid #333;
	box-shadow: 0 0 0 1px #40d6fb, 0px 0 0 2px black,  0px 0 5px 2px #40d6fb;
		-moz-box-shadow: 0 0 0 1px #40d6fb, 0px 0 0 2px black,  0px 0 5px 2px #40d6fb;
			-webkit-box-shadow: 0 0 0 1px #40d6fb, 0px 0 0 2px black,  0px 0 5px 2px #40d6fb;
}
.panel_corner{
	position: absolute;
	width:150px;
	height:150px;
	background-repeat: no-repeat;
	z-index: 120;
}
.panel_corner.upleft{
	top:-50px; left: -50px;
	background-image: url('img/corner-topleft.png');
}
.panel_corner.upright{
	top:-50px; right: -50px;
	background-image: url('img/corner-topright_sprite.png');
	background-position: 0 0;
}
.panel_corner.upright:hover{
	background-position: -150px 0;
}
.panel_corner.bottomright{
	width:90px;
	height:90px;
	bottom:-50px; right: -50px;
	background-image: url('img/corner-bottomright.png');
}
.panel_corner.bottomleft{
	bottom:-50px; left: -50px;
	background-image: url('img/corner-bottomleft.png');
}

/*********** PANEL CONTENT ***********/

#panel_content{
	display: none;
	position:absolute;
	top:10px;right:0;bottom:10px;left:0;
	padding:10px 30px 30px;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
	color:white;
	overflow: auto;
}

/* Title */
#panel_content h1{
	padding:0;
	margin:0 0 20px 0;
	font-size: 25pt;
	text-indent: 0;
	text-align:center;
}

#panel_content .introduction{
	text-align:center;
	margin:-20px 0 20px;
	font-style:italic;
}

/* Section */
.panel_content_section {
	clear: both;
	margin-bottom: 50px;
	text-align: justify;
}

.panel_content_section h2{
	margin: 0;
}
.panel_content_section h4{
	font-weight: normal;
	margin: 20px 0 0 0;
}

.panel_content_section .tags{
	font-size:9pt;
	color:#94ff97;
}

.panel_content_section .section_logo{
	float:left;
	margin:20px 20px 0 0;
}

/* Paragraph  */
.panel_content_section p{
	padding: 0 20px 0 0;
	margin:20px 0 0 0;
	font-size:12pt;
}
.panel_content_section p.indented{
	text-indent: 50px;
}

/* Links */
.panel_content_section .links{
	margin-top:10px;
	margin-right: 0px;
	text-align: right;
}
.panel_content_section .links a{
	color:#9dd5e3;
	margin-right: 20px;
}
.panel_content_section .links a:hover{
		color:white;
}
.panel_content_section .links img{
	vertical-align: top;
	margin-left: 3px;
}

/* Gallery */
.gallery{
	margin:27px 0 0 10px;
	float:right;
	max-width: 75%;
	text-align: center;
}
.gallery img{
	margin-left: 10px;
	border:3px solid rgba(255, 255, 255, 0.5);
	max-width:160px;
	max-height: 160px;
}
.gallery img:hover{
	cursor: zoom-in;
	border:3px solid rgba(255, 255, 255, 0.8);
}

/* FullSize images box */
.fullsizeimagebox{
	position:fixed;
	top:0; left:0;
	z-index: 200;
	width:100%; height:100%;
	margin:0;padding:0;
	background:rgba(0,0,0,0.8);
	text-align:center;

	user-select: none;
		-o-user-select: none;
			-ms-user-select: none;
				-moz-user-select: none;
					-webkit-user-select: none;
}
.fullsizeimagebox .midtable{
	height:100%;width:100%;
	margin:0;padding:0;
	display:table;
	cursor: zoom-out;
}
.fullsizeimagebox .imagecontainer{
	display:table-cell;
	vertical-align:middle;
}
.fullsizeimagebox .switcher{
	display: inline-block;
	width: 54px;
	cursor: pointer;
	opacity: 0.5;
	background-repeat: no-repeat;
}
.fullsizeimagebox .switcher.left{
	background-image: url('img/arrowLeft.png');
	background-position: right center;
}
.fullsizeimagebox .switcher.left:active{
	background-position: left center;
}
.fullsizeimagebox .switcher.right{
	background-image: url('img/arrowRight.png');
		background-position: left center;
}
.fullsizeimagebox .switcher.right:active{
	background-position: right center;
}
.fullsizeimagebox .switcher:hover{
	opacity:1;
}
.fullsizeimagebox .imagecontainer img{
	border: 1px solid #333;
	box-shadow: 0 0 5px 2px #40d6fb;
		-moz-box-shadow: 0 0 5px 2px #40d6fb;
			-webkit-box-shadow: 0 0 5px 2px #40d6fb;
	max-height:100%;
	max-width:100%;
}

/* Footer (margin) */
.panel_content_footer{
	height:50px;
}
